article {
  grid-column: 2/3;
  line-height: 1.5;
  max-width: 40rem;
  font-family: sans-serif;
}
.article-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.names-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  place-items: center;
  width: 100%;
}
.names-wrapper ul {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}
.names-wrapper h2 {
  grid-row: 1;
}
#generate {
  grid-column: 2/3;
  place-items: center;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
}
